@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    font-family: 'Monserrat', sans-serif;
    min-height: 100%;

    background-image:
        linear-gradient(to right, 
            rgb(226,29,60) 0%, 
            rgb(226,29,60) 40%, 
            rgba(0, 0, 0, 0.5) 40%, 
            rgba(0, 0, 0, 0.5) 45%, 
            transparent 100%),
        url(../images/waves-cropped.svg),        
        linear-gradient(to right, 
            rgba(0, 0, 0, 0.5) 0%, 
            rgba(0, 0, 0, 0.5) 100%),
        url(../images/pexels-cesar-galeao-3289711-gray.jpg);
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-size:
        100% 100%,
        40% auto,
        100% 100%,
        60% auto;
    background-position: 
        50% 50%,
        100% 100%,
        50% 50%,
        100% 35%;
}

span {
    font-weight: bold;
}

.logo {
    width: 210px;
    margin: 60px 0 0 60px;
}

.content {
    display: flex;
}

.content-left {
    padding: 120px 100px;
    width: 40%;
}

.content-right {
    color: rgb(255, 255, 255);
    margin: auto;
}

.content-right h3 {
    font-size: 46pt;
    font-weight: lighter;
}

.content-right p {
    font-size: 108px;
}

.description-text {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: medium;
    font-size: 280%;
    margin-bottom: 50px;
}

.price {
    color: rgb(255, 255, 255);
    font-size: 180px;
    font-weight: bold;
    margin-bottom: 60px;
}

.btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 350px;
    height: 70px;
    border: none;
    border-radius: 65px;
    font-size: 45px;
    font-weight: medium;
    cursor: pointer;
    transition:  ease-in 0.5s;
}

.btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}